
<div class="row" ng-controller="ModalDemoCtrl" hotkey="delete" invoke="action($event)">
	<script type="text/ng-template" id="myModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title">Choisissez un designe :</h3>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-3 col-md-2" ng-repeat="item in items">
					<a  class="thumbnail"   ng-click="selected.item = item">
						<img src='{{item.itm_src}}' style="height: 100px; width: 100px; display: block;"></img>
					</a>
				</div>
			</div>
			Selected: <b>{{ selected.item.itm_name }}</b>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">OK</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</script>
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				Personalisez Votre Produit
			</div>
			<div class="panel-body">
				<div class="input-append">
					<input  id="text-string" type="text" placeholder="add text here..." ng-keyup="edit_key_up">
					<button id="add-text" class="btn btn-default" title="Add text" ng-click="add_text()"><i class="fa fa-share"></i></button>
					<hr>
				</div>

				<div class="list-group">

					<a class="list-group-item" ng-click="open('lg');"><i class="fa fa fa-smile-o">&nbsp;</i> Ajoutez un designe</a>
					<a class="list-group-item" href="#"><i class="fa fa-file-image-o">&nbsp;</i> Importez une photo
					</a>
				</div>
			</div>
		</div>
	</div>

	
	<div class="col-md-6">
		<div class="btn-group" role="group" id="texteditor">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				fonts
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li ng-repeat="font in fonts_liste"><a ng-click="setFont(font);" class="{{font}}">{{font}}</a></li>
			</ul>

			<button type="button" class="btn btn-default" aria-label="Strike" ng-click="text_strike()"><i class="fa fa-strikethrough"></i></button>
			<button type="button" class="btn btn-default" aria-label="Bold" ng-click="text_bold()"><i class="fa fa-bold"></i></button>
			<button type="button" class="btn btn-default" aria-label="Italic" ng-click="text_italic()"><i class="fa fa-italic"></i></button>
			<button type="button" class="btn btn-default" aria-label="Underline" ng-click="text_underline()"><i class="fa fa-underline"></i></button>
			<button class="btn btn-default">
				<select id="colorselector" class="btn btn-default">
					<option value="106" data-color="#000000" selected="selected">black</option>
					<option value="106" data-color="#A0522D">sienna</option>
					<option value="47" data-color="#CD5C5C" >indianred</option>
					<option value="87" data-color="#FF4500">orangered</option>

					<option value="15" data-color="#DC143C">crimson</option>
					<option value="24" data-color="#FF8C00">darkorange</option>
					<option value="78" data-color="#C71585">mediumvioletred</option>
				</select>
			</button>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default" >
				<i class="fa fa-home fa-folder-open" >&nbsp;</i> Choisissez un produit
			</button>
			<button type="button" class="btn btn-default" aria-label="Delete" ng-click="delete_selected()"><i class="fa fa-trash-o"></i></button>
		</div>

		<div id="shirtDiv" class="page" style="width: 530px; height: 630px; position: relative; background-color: rgb(255, 255, 255);">
			<img id="tshirtFacing" src="./img/crew_front.png"></img>
			<div id="drawingArea" style="position: absolute;top: 100px;left: 160px;z-index: 10;width: 200px;height: 400px;">					
				<canvas id="myCanvas" width=200 height="400" class="hover" style="-webkit-user-select: none;"></canvas>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				Propriétés du Produit
			</div>
			<div class="panel-body">
				
				<span class="label label-info">Choisissez la couleur du Produit</span>
				<div class="well">
					<ul >
						<li ng-repeat="color in shirt_color" class="color-preview" title="{{color.title}}" style="background-color:{{color.bg_color}};" ng-click="change_shirt_color(color.bg_color)"></li>
					</ul>
				</div>
				<span class="label label-info">Choisissez la Taille et la Quantité</span>
				<div class="well">
					<form role="form">
						<label>Taille : </label>
						<label class="radio-inline">
							<input type="radio" name="optradio">M
						</label>
						<label class="radio-inline">
							<input type="radio" name="optradio">L
						</label>
						<label class="radio-inline">
							<input type="radio" name="optradio" checked="checked">XL
						</label>
						
						
					</form>
				</div>
				<div class="input-append spinner" data-trigger="spinner">
						<input type="text" value="1" data-rule="quantity">
						<div class="add-on"> <a href="javascript:;" class="spin-up" data-spin="up"><i class="icon-sort-up"></i></a> <a href="javascript:;" class="spin-down" data-spin="down"><i class="icon-sort-down"></i></a> </div>
					</div>
				<table class="table">
					<caption>Prix Total</caption>
					<tbody><tr>
						<td>Short Sleeve</td>
						<td align="right">$12.49</td>
					</tr>
					<tr>
						<td>Front Design</td>
						<td align="right">$4.99</td>
					</tr>
					<tr>
						<td>Back Design</td>
						<td align="right">$4.99</td>
					</tr>
					<tr>
						<td><strong>Total</strong></td>
						<td align="right"><strong>$22.47</strong></td>
					</tr>
				</tbody></table>			
				<p></p>
				<button type="button" class="btn btn-large btn-block btn-success" name="addToTheBag" id="addToTheBag">Add to bag <i class="fa fa-cart-plus"></i></button>

			</div>
		</div>
	</div>
</div>
